* {
-webkit-backface-visibility: hidden;
}
.cubic-trans {
-webkit-transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
-moz-transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
-o-transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
-ms-transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
}
.mnone {
margin: 0px;
}
.pnone {
padding: 0px;
}
body {
background-color: #ffffff;
color: #333130;
font-weight: normal;
font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
-webkit-font-smoothing: antialiased;
}
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
font-weight: 700;
}
.btn-cfox {
background-color: rgba(0, 0, 0, 0);
background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.05)));
background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
-webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
letter-spacing: 2px;
color: #fff;
padding: 10px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
height: 42px;
cursor: pointer;
}
.btn-cfox:hover {
text-decoration: none;
color: #fff;
background-color: rgba(0, 0, 0, 0);
background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.08)));
background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));
background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));
background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));
background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));
}
.btn-cfox.small {
text-transform: none;
letter-spacing: 0px;
padding: 5px 10px;
-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.btn-cfox.medium {
text-transform: none;
letter-spacing: 0px;
padding: 8px 10px;
-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.btn-cfox.blank {
background-color: transparent;
color: #8baabc;
border: 1px solid #8baabc;
-webkit-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0);
-moz-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0);
box-shadow: 1px 1px 0px rgba(0, 0, 0, 0);
background-color: rgba(0, 0, 0, 0);
background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.btn-cfox.flat {
background-color: rgba(0, 0, 0, 0);
background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
border: 0;
}
.btn-cfox.orange {
background-color: #ff7b5e;
border: 1px solid #ff512b;
}
.btn-cfox.btn-next {
display: inline-block;
height: 57px;
position: relative;
}
.form-control {
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
height: 40px;
}
.loadLine {
background: none repeat scroll 0 0 #ff7b5e;
height: 4px;
width: 100%;
}
#form-wrapper {
max-width: 700px;
margin: auto;
min-width: 320px;
position: relative;
}
#form-wrapper .logo {
display: block;
width: 200px;
margin: 20px auto 5px;
}
#form-wrapper h1 {
font-size: 16px;
font-weight: 400;
letter-spacing: 7px;
margin: 0;
text-align: center;
text-transform: uppercase;
}
.lead-form {
padding: 0px 20px 20px;
}
.lead-form .legend {
border-bottom: 2px solid #dadada;
margin-bottom: 20px;
margin-top: 30px;
text-transform: uppercase;
letter-spacing: 2px;
padding-bottom: 5px;
color: #ff7b5e;
}
.lead-form.done {
display: none;
}
.submit {
min-width: 130px;
}
.form-horizontal .control-label {
font-size: 14px;
font-weight: 400;
}
.thankyou-msg {
max-width: 600px;
width: 100%;
margin: 15px auto;
text-align: center;
padding: 10px 20px 30px;
border: 1px solid #eaeaea;
display: none;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.thankyou-msg h2 {
font-weight: 400;
font-size: 22px;
line-height: 1.2em;
}
.thankyou-msg .submit {
margin: auto;
}
.thankyou-msg.done {
display: block;
}
@media screen and (min-width: 200px) and (max-width: 680px) {
.submit {
display: block;
max-width: 320px;
width: 100%;
}
.lead-form .legend {
background-color: #f5f5f5;
border-bottom: 1px solid #eaeaea;
border-top: 1px solid #eaeaea;
margin-bottom: 10px;
margin-top: 20px;
margin-left: -20px;
margin-right: -20px;
padding: 5px 20px;
}
.thankyou-msg {
border: none;
}
.thankyou-msg h2 {
font-size: 18px;
line-height: 1.4em;
}
#form-wrapper .logo {
width: 150px;
}
}
